<%- include('header');%>
</body>
    <div id="verticalcontainer" class="container">
        <div class="justify-content-center">
            <div class= "col-12 col-sm-12 text-center mt-5">
                <div>
                    <h4 id="whitebold">My tickets :</h4>  
                </div>
            </div>
        </div>
    </div>

            <div class= "col-12 col-sm-12 text-center mt-5">
                    <div class="card-body">
                    <div class= "white" class="table-responsive">
                        <table id="order-info" class="table" width="100%" cellspacing="0">
                        <thead>
                            <thead>
                            <tr>
                                <th>N°</th>
                                <th>Journey</th>
                                <th>Date</th>
                                <th>Departure Time</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                        </thead>

                        <tbody>
                            <% let total = 0
                             for (let i = 0; i< tickets.length; i ++){  
                                 total += tickets[i].price %>
                            <tr>
                                <td id ="gras"><%= i +1 %></td>
                                <td><%= tickets[i].departure %> / <%= tickets[i].arrival %> </td>
                                <td><%= tickets[i].date.getMonth() %>/<%= tickets[i].date.getDay() %> </td>
                                <td><%= tickets[i].departureTime %></td>
                                <td><%= tickets[i].price %>€</td>
                            </tr>
                            <% } %>
                        </tbody>
                        <tfoot>
                            <tr class="list-group-item-action list-group-item-danger">
                                <td id="gras">Total</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><%= total %>€</td>
                            </tr>
                        </tfoot>
                        </table>
                    </div>
                    </div>
                    <a class="btn btn-danger" type="button" id="button-addon2">Confirm</a>
             </div>







        <!--SCRIPTS-->

        <%- include('scripts');%>

    </body>
    </html>