<%- include('header');%>
</body>
    <div id="verticalcontainer" class="container">
        <div class="justify-content-center">
            <div class= "col-12 col-sm-12 text-center mt-5">
                <div>
                    <h4 id="whitebold">My last trips :</h4>  
                </div>
            </div>
        </div>
    </div>

    <div class= "col-12 col-sm-12 text-center mt-5">
        <div class="card-body">
        <div class= "white" class="table-responsive">
            <table id="order-info" class="table" width="100%" cellspacing="0">
            <thead>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Journey</th>
                    <th>Departure Time</th>
                    <th>Price</th>
                </tr>
                </thead>
            </thead>

            <tbody>
                <% for (let i = 0; i < userJourneys.length; i ++){
                    var newDateMonth = new Date(userJourneys[i].date).getMonth()
                    var newDateDay = new Date(userJourneys[i].date).getDay() 
                    var newYear = new Date(userJourneys[i].date).getFullYear()
                    %>
                    <tr>
                        <td><%= newDateDay%>/<%= newDateMonth %>/<%= newYear %> </td>
                        <td> <%= userJourneys[i].departure %> / <%= userJourneys[i].arrival %> </td>
                        <td><%= userJourneys[i].departureTime %></td>
                        <td><%= userJourneys[i].price %>€</td>
                    </tr>
                <% } %> 
            </tbody>
            </table>
            <a href="/journey" class="btn btn-danger" type="button" id="button-addon2">Home</a>
        </div>
        </div>
 </div>
















        <!--SCRIPTS-->

        <%- include('scripts');%>

    </body>
    </html>